{% extends 'index.html' %}
 
{% block titulo %}
BibliotecaTomas.com | Listado de libros
{% endblock titulo %}

{% block body %}
  <div class="text-right">
    <a href="{% url 'libro:crear_libro' %}" class="btn btn-primary"><i class="fas fa-book"></i>  Registrar libro</a>
  </div>
  {% if libros %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">Listado de Libros</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Autor(es)</th>
                        <th>Fecha publicación</th>
                        <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for libro in libros %}
                      <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>
                          {% for autor in libro.autor_id.all %}
                              <li>{{ autor.nombre }}</li>
                          {% endfor %}
                        </td>
                        <td>{{ libro.fecha_publicacion }}</td>
                        <td>
                          <a href="{% url 'libro:editar_libro' libro.id %}" class="btn btn-primary">Editar</a>
                          <a href="{% url 'libro:eliminar_libro' libro.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>No existen libros registrados</h1>
      {% endif %}

      <div class="modal fade" id="edicion" role="dialog">

      </div>

{% endblock body %}
